/* Base */

@font-face {
  font-family: "CookieRun";
  src: url("fonts/CookieRun Regular.ttf");
}

body {
  margin: 0;
  font-family: "CookieRun", Arial, sans-serif;
  background: #fff3d6;
}


/* HEADER */

.site-header {
  background: linear-gradient(#a66a3f, #7a4a25); /* wood style */
  padding: 15px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}


/* LOGO / TITLE */

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}


/* NAV BUTTONS */

.nav-buttons a {
  text-decoration: none;
  color: white;

  background: #c48a55;

  padding: 8px 14px;
  margin-left: 8px;

  border-radius: 8px;
  border: 2px solid #5a3217;

  transition: 0.2s;
}

.nav-buttons a:hover {
  background: #e3a96d;
  transform: scale(1.05);
}


/* MAIN */

main {
  padding: 20px;
}

/* CENTER IMAGES */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-row {
    display: flex;           /* makes the children line up in a row */
    gap: 0px;               /* space between images */
    justify-content: center; /* center the images horizontally */
    align-items: center;     /* vertical alignment if images are different heights */
}

.image-row img:nth-child(1) {
    width: 150px;            /* size of each image */
    height: 150px;
    border-radius: 15px;     /* rounded corners */
    object-fit: cover;       /* keeps image from stretching */
}

.image-row img:nth-child(2) {
   width: 210px;            /* size of each image */
   height: 210px;
   border-radius: 15px;     /* rounded corners */
   object-fit: cover;       /* keeps image from stretching */
}


/* LOGS LAYOUT */

.logs-section {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;

  /* NEW */
  align-items: flex-start; /* stop stretching */
}



/* LOG BOX */

.log-box {
  flex: 1;
  min-width: 250px;

  background: white;
  border: 4px solid #ffb347;
  border-radius: 18px;

  padding: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);

  /* FORCE SIZE */
  max-height: 350px;
  overflow-y: auto;
}




/* Older box color */

.log-box.old {
  border-color: #000000;
}


/* TITLE */

.log-box h2 {
  margin-top: 0;
  color: #000000;
}


/* LOG ITEM */

.log-item {
  background: #fff8e6;

  padding: 8px 10px;
  margin-top: 10px;

  border-radius: 10px;

  font-size: 14px;
}
